@keyframes play120 {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: -55080px 0px;
  }
}

.shapeshifter {
  animation: infinite;
  animation-duration: 2000ms;
  animation-timing-function: steps(120);
  width: 459px;
  height: 493px;
  background-repeat: no-repeat;
}

.shapeshifter.play {
  animation-name: play120;
}